DEBUG=True
SECRET_KEY=example
ENCRYPTING_KEY=example

DJANGO_SETTINGS_MODULE=tripapi.settings.production

EMAIL_HOST=smtp.google.example
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=example@example.com
EMAIL_HOST_PASSWORD=example
DEFAULT_FROM_EMAIL=example@example.com
DEFAULT_COMPANY_EMAIL=example@example.com

DB_NAME=example
DB_USER=postgres
DB_PASSWORD=

PAYSTACK_SECRET=example